extends layout_form
block content
        .container
          .content(style='padding: 30px;')
            h2 Update Products             
              form(action='/crud/edit/'+product._id,method='post')
                p=msg
                    
                label(for="title") Title
                  input(type="text",name="title", required='', value=product.title)
                label(for="sku") Sku
                  input(type="text",name="sku" pattern='[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}', required='', value=product.sku)
                label(for="msrp") MSRP
                  input(type="number", name="msrp" min='0.00', step='0.01', required='', value=product.msrp)  
                label Product Category
                select(required='', name='category', value='category')
                  option=product.category
                  option Deli & Bakery
                  option Meat & Seafood
                  option Fresh Produce
                  option Eggs & Dairy
                  option Fruits & Vegetables
                  option Beverages
                p
                label(for="image") Image
                  input(type="text", name="image", value=product.image) 
                p
                label(for="title") Description
                textarea(rows='8', cols='70',name="description")=product.description
                p      
                input.button(type="submit",value="Update")